@media (max-width: 768px) {
 
    .header {
       height: 75px;
 
    }
    .logo{
       padding:10px;
    }
 
 
    .nav-menu {
       flex-direction: column;
       background: #232a34;
       position: fixed;
       top: 75px;
       width: 100%;
       align-items: center;
       padding: 0;
       height: calc(100%-60px);
       overflow-y: auto;
       left: 100%;
       transition: all .4s;
       height: 100%;
       margin: 0;
 
    }
 
    .nav-menu-item {
 
       margin: 20px;
 
 
    }
 
    .toogle-init {
       display: block;
       padding: .5em;
    }
 
    .nav-phone-visible {
       left: 0;
    }
 
    .hero-txt {
 
       margin: 0;
 
    }
    .main{
      grid-template-columns:1fr;
    }
    .about{
       width: 100%;
    }
    .about h1{
      font-size:25px;
    }
    .about p{
      font-size: 1.3em;
    }
    .curriculum{
      grid-template-columns: 1fr;
      
    }
    .img-interview{
      display:none;
    }
    .slider img{
       display:none;
    }
    .hidden-res{
       display:unset;
    }
    .responsive-img{
      margin: auto;
      display: flex;
      text-align: center;
    }

 
    .img-logo {
      width: 100%;
 
    }
    .footer-e{
      margin-left: 20px;
  }
}