* {
    font-family: cabin, sans-serif;
    margin: 0;
    padding:0;
}




.header {

    position: fixed;
    width: 100%;
    background: #232a34;
    padding: 0;
}

.nav {
    display: flex;
    justify-content: space-between;
    max-width: 992px;
    height: 80px;
    margin: 0 auto;
    background: #232a34;
}

.nav a {
    text-decoration: none;
    color: rgb(210, 222, 231);
    font-weight: bolder;
    font-family: sans-serif;

}

.nav-menu {

    display: flex;
    list-style: none;
    align-items: center;
    margin-right: 2em;

}

.nav-menu-item {

    line-height: 70px;
    margin: auto 10px;


}

.nav-menu-item a:hover {
    transition: all .2s;
    margin: .1em;
    padding: 5px;
    font-size: 1.2em;
    border: solid gray 1px;
    border-radius: 5px;
    color: #fff;
}

.nav-menu-item a i {
    font-size: 27px;
    margin: 3px;
}

.toogle-init {
    font-size: 30px;
    border: none;
    background: none;
    color: #fff;
    display: none;
}

div .logo {
    font-size: x-large;
    font-weight: bolder;
    line-height: 75px;
    font-family: 'Courier New', Courier, monospace;
    color: #fff;
    cursor: pointer;
}

.main {
    margin-top: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.example {
    margin-top: 1em;
}

.slider {
    margin: auto;
    display: flex;
    text-align: center;
}

.slider img {
    width:75%;
    height: 490px;
}

.about {
    width: 80%;

}

.about h1 {
    font-size: 35px;
    padding: 10px;
}

.about p {
    margin: 10px;
    padding: 1em;
    margin-bottom: 20px;
    font-size: 1.1em;
    color:#000000c2;
}
.about-us{
    padding-top:40px;
    font-size: 20px;
}
.btn-createcv{
    margin: 20px;
    margin-top: 3em;
    padding: 10px;
    text-decoration: none;
    border: solid  rgb(0, 30, 85);
    border-radius: 8px ;
    background: rgb(0, 30, 85);
    color: #fff;
    text-align: center;
    display:block;
}


.information {
    margin-top: 3em;
    width: 100%;
    background: rgb(228, 228, 228);
    
}

.information-cont {
    list-style: none;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.information-title {
    font-size: 1.2em;
    padding: 30px;
}

.info-step {
    display: inline;
    border: solid;
    padding: 10px;
    margin: 1em;
    border-radius: 100%;

}
.hidden-res{
    display:none;
}

.information-item {
    width: 33.3%;
}

aside {
    
    display:inline;
    margin-left:10px;
}

.curriculum{
    display:grid;
    padding: 2em;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
  
}

.img-interview{
    width:100%;
    text-align:center;
}
.img-interview img{
    width:80%;
    height:100%;
    

}
.aside-info{
    width:100%;
    text-align:center;
    font-family: sans-serif;

}
.aside-info p{
    padding-bottom:10px;
    
}

.call-create h3 {
    padding-bottom: 20px;
}
.call-create {
    display: block;
    text-align: center;
    margin-bottom:4em;
}
.call-create a{
    display:inline;
   
}
.footer {
    margin-top: 20px;
    width: 100%;
    background: rgb(0, 30, 85);
    color: #fff;
}

.footer-cont {
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.footer i {
    font-size: 2em;
    color: #fff;
    text-decoration: none;

}

.footer-e {
    margin: 20px;
    padding-left: 1em;
}

.center {

    text-align: center;
}

.separation {
    margin: 1.2em;

}