
.main{
    grid-template-columns: 1fr;
   
}
.templates-show{

    display: grid;
    grid-template-columns:1fr 1fr;

}
.templates-show div{
    text-align: center;
    height:400px;
    border: solid 1px;
    

}
.templates-show div a{

    display:block;

}
.template-img{

    width: 80%;
    height:80%;
    margin:auto;
    padding:auto;
}
.footer {
    width:100%;
    background: rgb(0, 30, 85);
    color:#fff;
}
.footer-cont{
    padding:1em;
    display:flex;
    flex-wrap: wrap;
    justify-content:space-around;
}
.footer i{
    font-size: 2em;
    color:#fff;
    text-decoration: none;

}
.footer-e{
    margin: 20px;
    margin-left: 50px;
}
