<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../Css/styles.css">
  <link rel="stylesheet" href="../Css/responsive.css">
  <link rel="stylesheet" href="./Css/template.css">
  <title>Document</title>
</head>

<body>
  <div class="container">

    <header class="header">

      <nav class="nav">
        <div>
          <a class="logo" href=""> CVMAKER </a>
        </div>

        <button class="toogle-init">
          &#9776;
        </button>

        <ul class="nav-menu">

          <li class="nav-menu-item">
            <a href="">Inicio</a>
          </li>

          <li class="nav-menu-item">
            <a href="">Sobre nosotros</a>
          </li>

          <li class="nav-menu-item">
            <a href="">Contacto</a>
          </li>
        </ul>

      </nav>

    </header>
    .

    <section class="main">
      <h1 class="center">Selecciona tu platilla ideal</h1>
      <article class="templates-show">
        
        <div>
          
          <img src="http://placeimg.com/640/480/any" alt="" srcset="" class="template-img">

          <a href="../createcv/template1.html" class="center">Seleccionar esta plantilla</a>

        </div>

        <div>


          <img src="http://placeimg.com/640/480/any" alt="" srcset="" class="template-img">
  

          <a href="../createcv/template2.html" class="center">Seleccionar esta plantilla</a>
        </div>
        <div>

          <img src="http://placeimg.com/640/480/any" alt="" srcset="" class="template-img">


          <a href="../createcv/template3.html" class="center">Seleccionar esta plantilla</a>
        </div>

        <div>


          <img src="http://placeimg.com/640/480/any" alt="" srcset="" class="template-img">

          <a href="../createcv/template4.html" class="center">Seleccionar esta plantilla</a>
        </div>

      </article>
    </section>




    <script src="../Js/main.js"></script>

</body>

</html>