<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
  <link rel="stylesheet" href="../Css/styles.css">
  <link rel="stylesheet" href="../Css/responsive.css">
  <link rel="stylesheet" href="./Css/template.css">
  <title>Document</title>
</head>

<body>
  <div class="container">

    <header class="header">

      <nav class="nav">
        <div>
          <a class="logo" href=""> CVMAKER </a>
        </div>

        <button class="toogle-init">
          &#9776;
        </button>

        <ul class="nav-menu">

          <li class="nav-menu-item">
            <a href="../index.html">Inicio</a>
          </li>

          <li class="nav-menu-item">
            <a href="">Sobre nosotros</a>
          </li>

          <li class="nav-menu-item">
            <a href="">Contacto</a>
          </li>
        </ul>

      </nav>

    </header>
    .

    <section class="main">
      <h1 class="center">Selecciona tu platilla ideal</h1>
      <article class="templates-show">

        <div>

          <img src="./images/template1.png" class="template-img">
          <a href="../createcv/template1.html" class="center select-temp"><span>Seleccionar plantilla</span></a>



        </div>

        <div>

          <img src="./images/template2.png" class="template-img">
          <a href="../createcv/template2.html" class="center select-temp"> <span>Seleccionar plantilla</span> </a>



        </div>
        <div>
          <img src="./images/template3.png" class="template-img">

          <a href="../createcv/template3.html" class="center select-temp"> <span>Seleccionar plantilla</span> </a>



        </div>

        <div>

          <img src="./images/template4.png" class="template-img">
          <a href="../createcv/template4.html" class="center select-temp"><span>Seleccionar plantilla</span></a>


        </div>

      </article>
    </section>

    <footer class="footer center">

      <div class="footer-cont">

        <h3 class="footer-e">CV MAKER IS A SIMPLE CV GENERATOR</h3>

        <h3 class="footer-e">Contact</h3>
        <a href="https://www.linkedin.com/in/brayan-puentes-ruiz-084018192/" target="_blank"><i
            class="fa fa-linkedin-square footer-e" aria-hidden="true">in</i> </a>
        <p class="footer-e">Created by Brayan Puentes Ruiz</p>

      </div>


    </footer>





    <script src="../Js/main.js"></script>

</body>

</html>