@media (max-width: 768px) {
 
    .header {
       height: 75px;
 
    }
    .logo{
       padding:10px;
    }

    .cont-cv{
       width: 100%;
    }
    .final-cv {
      font-size: 9px;
    }
    .main{
      display:flex;
      flex-wrap: wrap;
      width: 98%;
      text-align: center;
    }
    .data{
      width: 100%;
      border-bottom: 5px solid;
      
    }
    .preview{
      width: 97%;
      
    }
    
    
}